/* general */
body {
    padding-top: 3.5rem;
    color: #46484a;
}

h1,
h2,
h3,
h4,
h4,
h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
    font-family: 'Helvetica Neue';
    font-weight: 300;
}

a {
    font-family: 'Helvetica Neue';
    font-weight: 300;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover {
    text-decoration: none;
}

p.lead {
    font-weight: 300;
}

.bg-darker {
    background: #1e2225;
}

a.btn-outline-info:hover {
    color: #fff;
}

.section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.background {
    position: relative;
    background-position: center center !important;
    background-size: cover;
    background-attachment: fixed;
}

/* font weights */
.fw-300 {
    font-weight: 300 !important;
}

.fw-500 {
    font-weight: 500;
}

.fw-700 {
    font-weight: 700;
}

.emphasis {
    font-family: Georgia, Times, 'Times New Roman';
    font-style: italic;
    color: #59a0d7;
}

/* hero */
.hero {
    padding: 5rem 1.5rem;
    text-align: center;
    background: #f5f5f5;
    border: 1px solid #eee;
}

/* navbar */
.navbar {
    border-bottom: 1px solid #eee;
}

.navbar-brand {
    font-weight: 500;
    text-transform: uppercase;
}

.navbar-brand::before {
    display: none;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.navbar-brand::before {
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    content: "\f6b4";
}

a.nav-link {
    text-transform: uppercase;
}

.dropdown-item {
    font-weight: 300;
}

/* cover */
.cover {
    background: #f7f7f8;
    min-height: 40rem;
    height: auto;
    border-radius: 0;
    width: 100%;
    color: #46484a;
    padding-top: 1rem;
}

.cover a.navbar-brand {
    color: #000 !important;
}

.cover h1 {
    color: #000;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 4rem;
}

.cover p.lead {
    margin: 2rem auto;
    color: #696b6e;
}

.cover .cover-container {
    display: table;
    height: 100%;
    min-height: 34rem;
    padding-top: 2rem;
    margin: 0 auto;
}

.cover .col-feature {
    padding-top: 0;
    padding-bottom: 1rem;
    padding-left: 0;
}

.cover .col-feature em {
    margin-bottom: 1rem;
    color: #59a0d7;
}

/* content one */
.content-one {
    background: #fff;
    padding-bottom: 0.1rem;
}

.content-one .container {
    margin: 5rem auto;
}

.content-one .full-width {
    width: 100%;
}

/* social */
.social {
    margin: 0 auto;
    padding: 0;
}

.social li {
    display: inline-block;
    margin-right: 5px;
}

.social li a {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    margin: .4rem 0;
    text-align: center;
    text-decoration: none;
    background: #fff;
    color: #696b6e;
    border: 0.1rem solid #dfe1e5;
    border-radius: 499rem;
    line-height: 1.7;
    font-size: 1.4rem;
}

.social li a:hover {
    color: #59a0d7;
    border-color: #59a0d7;
}

/* portfolio */
.portfolio {
    background: #f7f7f8;
    padding: 5rem 0;
}

.portfolio .container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.portfolio .box {
    background: #fff;
    box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.05);
    padding: 0rem;
    padding-bottom: 1rem;
    margin-bottom: 0rem;
    border-radius: .3rem;
}

.portfolio .col-gallery {
    margin-top: 2rem;
    margin-bottom: 0rem;
}

.portfolio .col-gallery img {
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* testimonials */
.testimonial {
    padding: 5rem 0 4rem 0;
    background: #eee;
}

.testimonial h3 {
    margin-bottom: 0;
}

.testimonial .quote-text {
    font-size: 1.2rem;
    font-weight: 300;
    font-style: italic;
    color: #a0a0a0;
}

.testimonial .box {
    background: #fff;
    border-radius: .3rem;
    box-shadow: 0px 0.2rem 2rem rgba(0, 0, 0, 0.1);
    padding: 2rem 2rem 1rem 2rem;
    margin-bottom: 2rem;
    border: 1px solid #eee;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.testimonial .box:hover {
    box-shadow: 0px 0.1rem 0.5rem rgba(0, 0, 0, 0.05);
}

.testimonial img.rounded-circle {
    width: 4rem;
}

.testimonial .quote-author {
    font-style: italic;
    font-family: "Droid Serif", Times, Georgia, serif;
    color: #46484a;
}

/* contact */
.contact {
    padding: 0 0 5rem 0;
}

.contact .contact-details {
    padding-top: 5rem;
    padding-bottom: 1rem;
}

.contact h3 {
    margin-bottom: 0;
}

#map {
    height: 400px;
    width: 100%;
}

.form-control-custom {
    border: 0.1rem solid #dfe1e5;
    width: 100%;
    padding: 1rem;
    font-size: .9rem;
    color: #696b6e;
    border-radius: .3rem;
}

.form-control-custom:focus {
    border: 0.1rem solid #59a0d7;
    outline: none;
}

/* footer */
a.logo {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #46484a !important;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0;
}

.footer {
    background: #f5f5f5;
    width: 100%;
    color: #fff;
    padding-top: 4rem;
    padding-bottom: .5rem;
    border-top: 1px solid #eee;
}

.footer .container-fluid {
    padding: 0;
}

.footer .divider {
    background: #eee;
    width: 100%;
    height: .1rem;
    margin: 2rem 0 1.5rem 0;
}

.footer ul.nav-footer {
    float: left !important;
    padding: 0;
    width: 100%;
}

.footer ul.nav-footer li {
    display: block;
    float: left;
    margin-top: .5rem;
    width: 100%;
}

.footer ul.nav-footer .nav-link {
    color: #a0a0a0;
    padding: 0;
}

.footer ul.nav-footer .nav-link:hover {
    color: #59a0d7;
}

.footer .copyright {
    color: #a0a0a0;
}

.footer .social li a {
    background: none;
    color: #f7f7f8;
    border: none;
}

.footer .social li a:hover {
    color: #59a0d7;
}

@media screen and (max-width: 768px) {
    .footer .nav-footer {
        width: auto;
        display: inline;
    }
}
